{% extends "base.html" %}
{% block page_title %}
    Edit Trade
{% endblock page_title %}

{% block main_content %}
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<div class="card card-primary">
					<div class="card-header">
						<h3 class="card-title">Edit {{entry.Symbol}} Trade</h3>
					</div>
					{% url 'item_edit' pk=pk as action_path %}
					{% include 'form_template.html' with form=form action_path=action_path %}
					</div> <!-- card-primary -->
			</div> <!-- col-md-6 -->
		</div> <!-- row -->
	</div> <!-- container-fluid -->
</section>
{% endblock main_content %}

